body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: rgb(165, 165, 165);
}

.navbar ul {
  text-align: center;
  border-bottom: 1px solid rgb(0, 0, 182);
  padding: 10px;
}

.navbar ul li {
  margin: 30px;
  display: inline;
}

.navbar li a {
  text-decoration: none;
  color: black;
}

.navbar li a.active {
  color: rgb(0, 0, 182);
  font-size: 24px;
}

/* ----------------------------------- */

.home .image {
  display: block;
  margin: auto;
  border: 5px solid rgb(0, 0, 182);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: url("./images/portrait.jpg");
}

.home {
  padding: 20px;
  text-align: center;
}

.home h1::first-letter {
  font-size: 150%;
  color: rgb(0, 0, 182);
}

/* ----------------------------------- */

.about {
  text-align: center;
  max-width: 70%;
  margin: auto;
  padding: 20px;
}

.about div {
  border-bottom: 1px solid rgb(0, 0, 182);
}

.about div h3 {
  border-bottom: rgb(0, 0, 182);
}
